#include "{{ name }}.h"
{% if eventsList|length > 0 %}#include <cassert>
{% endif %}{% if waylandClientProtocolHeader %}#include "{{ waylandClientProtocolHeader }}"
{% endif %}{% for type in forwardTypes %}#include "{{ type }}.h"
{% endfor %}
{% if namespace %}namespace {{ namespace }} {
{% endif %}{% if eventsList|length > 0 %}const struct {{ name }}_listener {{ camelName }}::listener = {
{% for event in eventsList %}    .{{ event.name }} = [](void *data, {{ name }} *wldata{{ event.eventWlArgumentSignatureWithName }}) {
        auto *obj = static_cast<{{ camelName }} *>(data);
        assert(*obj == wldata);
        {
{% for argument in event.arguments %}{% if argument.isObject %}{% if argument.isNullable %}            auto *{{ argument.lowerCamelName }}_ = {{ argument.lowerCamelName }} ? static_cast<{{ argument.camelInterfaceName }} *>({{ argument.interfaceName }}_get_user_data({{ argument.lowerCamelName }})) : nullptr;
{% else %}            if (!{{ argument.lowerCamelName }}) {
                return;
            }
            auto *{{ argument.lowerCamelName }}_ = static_cast<{{ argument.camelInterfaceName }} *>({{ argument.interfaceName }}_get_user_data({{ argument.lowerCamelName }}));
{% endif %}{% elif argument.isNewId %}            auto *{{ argument.lowerCamelName }}_ = new {{ argument.camelInterfaceName }}({{ argument.lowerCamelName }});
{% endif %}{% endfor %}            obj->{{ event.lowerCamelName }}()({{ event.eventArgument }});
        }
    },
{% endfor %}};
{% endif %}
{{ camelName }}::{{ camelName }}({{ name }} *data) : version_({{ name }}_get_version(data)), data_(data) {
    {{ name }}_set_user_data(*this, this);
{% if eventsList|length > 0 %}    {{ name }}_add_listener(*this, &{{ camelName }}::listener, this);
{% endif %}}

void {{ camelName }}::destructor({{ name }} *data) {
{% if destructors|length > 0 %}    const auto version = {{ name }}_get_version(data);
{% endif %}{% if destructors|length == 1 and destructors.0.name == "destroy" %}    if (version >= {{ destructors.0.since }}) {
        {{ name }}_{{ destructors.0.name }}(data);
        return;
    }
{% else %}{% for destructor in destructors %}    if (version >= {{ destructor.since }}) {
        {{ name }}_{{ destructor.name }}(data);
        return;
    }
{% endfor %}    {{ name }}_destroy(data);
{% endif %}}
{% for request in requestsList %}{% if not request.destructor and request.requestReturnType != "T *" %}{{ request.requestReturnType }}{{ camelName }}::{{ request.lowerCamelName }}({{ request.requestArgumentSignature }}) {
    {% if request.isReturnTypeNewId %}return new {{ request.returnTypeObject }}({% endif %}{{ name }}_{{ request.name }}(*this{{ request.requestArgument }}){% if request.isReturnTypeNewId %}){% endif %};
}
{% endif %}{% endfor %}{% if namespace %}
}
{% endif %}
